Nuevo Peru Bank - Project/project/build
Nuevo Peru Bank - Project/project/nbproject/private
Nuevo Peru Bank - Project/project/test
Nuevo Peru Bank - Project/project/dist
Nuevo Peru Bank - Project/desktop.ini 
# no se que es desktop xd